{% extends "base.html" %}
{% block content %}
<div class="card-body">
    <h4>Publisher List</h4>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Name</th>
            </tr>
        </thead>
        <tbody>
            {% for publisher in publishers %}
            <tr>
                <td>{{ publisher.name }}</td>
                <td>{{ publisher.description }}</td>
                <td>
                    <a type="button" class="btn btn-warning" href="/publisher-update/{{ publisher.id }}">Update</a>
                    <a type="button" class="btn btn-danger" href="/publisher-delete/{{ publisher.id }}">Delete</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <a type="button" class="btn btn-success" href="{%url 'publisher-create' %}">Create</a>
</div>
{% endblock %}
